/* Estilos do site geral*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #250a50;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/*Estilos dos links*/
section {
    padding: 20px;
    margin: 20px 0;
}

section h2 {
    margin-top: 0;
    color: #751ab1;
}

section h3 {
    margin-top: 0;
    color: #5c2ca4;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*Formulário de contato*/
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #9462ce;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

form input[type="submit"]:hover {
    background-color: #b629c3;
}

/*Responsividade do site */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    form {
        width: 100%;
    }
}
